<!-- Top navbar -->
<mat-toolbar class="navbar" color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="navbar-brand" matTooltip="Home">
    <h1 style="color: white">
      J-Parser
    </h1>
  </span>
  <span class="navbar-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="main">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <app-item-menu [title]="'Dashboard'" [icon]="home" [link]="'/dashboard'"></app-item-menu>
      <app-item-menu [title]="'Call Graph'" [icon]="graphCall" [link]="'/call-graph'"></app-item-menu>
      <app-item-menu [title]="'dependency Graph'" [icon]="graphDependency" [link]="'/dependency-graph'"></app-item-menu>
      <app-item-menu [title]="'Statistics'" [icon]="statistics" [link]="'/statistics'"></app-item-menu>
      <app-item-menu [title]="'Setting'" [icon]="settings" [link]="'/settings'"></app-item-menu>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>







